<!DOCTYPE html>
<html>
<head>
  <title>recommender</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>

<!-- 로그인 페이지 -->
<div class="login-wrap">
	<div class="login-html">
		
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<form  action="/login" method="post" class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input class="user" type="text" class="input" name="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input class="pass" type="password" class="input" data-type="password" name="password">
				</div>
				
				<div class="group">
					<input type="submit" class="button"  action="/login" value="Sign In">
				</div>

			
				<div class="group">
					<!--
					<div class ="remote-login-wrap">
				 <a class="remote-login" href="/login/kakao">kakao</a>
				 |
				 <a class="remote-login" href="/login/naver">naver</a>
				 |
				 <a class="remote-login" href="/login/google">google</a>
				 -->
			   </div>

			 </div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</form>
			</div>
			<form  action="/signup" method="post" class="sign-up-htm">
				<div class="group">
					<label class="label">Username</label>
					<input class="user" type="text" class="input" name="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input class="pass" type="password" class="input" data-type="password" name="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input class="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input class="pass" type="text" class="input" name="email">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>

				<div class="foot-lnk">
					<label for="tab-1">Already Member?</a>
				</div>

			</form>


		</div>
	</div>
</div>

</body>
</html>
